.tool-bar {
  margin-bottom: 20px;
}

.showAll {
  margin-left: 10px;
}

.item {
  display: inline;
  height: 50px;
  width: 350px;
  padding-top: 5px;
  padding-left: 5px;
  line-height: 26px;
  .name {
    font-size: 16px;
    text-overflow: ellipsis;
  }
  .time {
    font-size: 12px;
    vertical-align:bottom
  }
}

.image-content {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
}
